* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* body {
  margin: 0;
}
* body ol, * body ul {
  list-style: none;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  font-size: 100%;
  font-weight: normal;
  color: rgb(62, 62, 62);
}
* body img, * body picture, * body svg, * body video {
  display: block;
  width: 100%;
}
* body a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 6px;
}
.navbar .navbar--menu {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 6px;
}
.navbar .navbar--menu .navbar--menu__icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.navbar .navbar--menu .navbar--menu__icon:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--menu:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.navbar .navbar--logo {
  display: flex;
  align-items: center;
  margin: 0px 90px 0px 4px;
}
.navbar .navbar--logo .navbar--logo__img {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.navbar .navbar--logo .navbar--logo__title {
  font: 400 21px "Product Sans", Arial, sans-serif;
  color: rgb(97, 97, 97);
  padding-left: 7px;
  cursor: pointer;
}
@media (max-width: 790px) {
  .navbar .navbar--logo {
    margin: 0px;
  }
}
.navbar .navbar--search {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex: 1 1 auto;
}
.navbar .navbar--search .navbar--search__wrapper {
  display: flex;
  align-items: center;
  max-width: 720px;
  height: 48px;
  background-color: rgb(242, 243, 245);
  border-radius: 8px;
  width: 100%;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .search__icon-search {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .search__icon-search:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .search__icon-search {
    justify-content: flex-end;
  }
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.navbar .navbar--search .navbar--search__wrapper .navbar--search__input {
  width: 100%;
  padding: 6px;
  border: none;
  background-color: rgb(242, 243, 245);
  font-size: 16px;
  color: rgb(119, 119, 119);
}
.navbar .navbar--search .navbar--search__wrapper .navbar--search__input:focus {
  outline: none;
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper .navbar--search__input {
    display: none;
  }
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper {
    background-color: transparent;
    justify-content: end;
  }
}
.navbar .navbar--search .search--icon__cross-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.navbar .navbar--search .search--icon__cross-wrapper .search--icon-cross {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
  display: none;
}
.navbar .navbar--search .search--icon__cross-wrapper .search--icon-cross:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--search .search--icon__cross-wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.navbar .navbar--search .navbar--icon-list {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper .icon-list--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper .icon-list--icon:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
@media (max-width: 580px) {
  .navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:nth-child(even) {
    display: none;
  }
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--icon-list {
    margin-left: 0px;
  }
}
.navbar .navbar--account {
  display: flex;
  margin-left: 20px;
}
.navbar .navbar--account .account--icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 6px;
}
.navbar .navbar--account .account--icon__wrapper .account--bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgb(124, 37, 255);
  border-radius: 24px;
}
.navbar .navbar--account .account--icon__wrapper .account--letter {
  color: white;
  font: 400 16px "Product Sans", Arial, sans-serif;
}
.navbar .navbar--account .account--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
@media (max-width: 1020px) {
  .navbar .navbar--account {
    margin-left: 0px;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: calc(100dvh - 64px);
  z-index: 999;
  transition: ease-in 0.1s;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.aside .aside--item__wrapper {
  display: flex;
  align-items: center;
}
.aside .aside--item__wrapper .aside--icon__wrapper {
  margin-left: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.aside .aside--item__wrapper .aside--icon__wrapper .aside--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.aside .aside--item__wrapper .aside--icon__wrapper .aside--icon:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.aside .aside--item__wrapper .aside--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.aside .aside--item__wrapper .aside--icon__wrapper.active {
  background-color: rgb(252, 240, 193);
  border-radius: 24px;
}
.aside .aside--item__wrapper:first-of-type {
  margin-top: 7px;
}
.aside .aside--item__text {
  font: bold 14px "Product Sans", Arial, sans-serif;
  padding-left: 24px;
  color: rgb(69, 69, 69);
  display: none;
  transition: ease-in 0.2s;
  transition-delay: 0.3s;
}

.aside:hover {
  width: 280px;
  box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.4666666667);
  transition: ease-in 0.1s;
  transition-delay: 0.3s;
}
.aside:hover .aside--item__wrapper {
  width: 100%;
  cursor: pointer;
}
.aside:hover .aside--item__wrapper .aside--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.aside:hover .aside--item__wrapper .aside--icon__wrapper .aside--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.aside:hover .aside--item__wrapper:hover {
  transition-delay: 0.3s;
  background-color: rgb(230, 230, 230);
  border-radius: 0px 24px 24px 0px;
}
.aside:hover .aside--item__wrapper.active {
  transition-delay: 0.3s;
  background-color: rgb(252, 240, 193);
  border-radius: 0px 24px 24px 0px;
}
.aside:hover .aside--item__text {
  overflow: hidden;
  transition: ease-in 0.3s;
  transition-delay: 0.3s;
  display: flex;
}

.add-new--container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: calc(100% - 64px);
  height: 180px;
  margin-left: 64px;
}
.add-new--container .add-new__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: clamp(240px, 90%, 600px);
  height: 48px;
  margin: 32px 0px 32px 24px;
  padding: 2px 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.563);
}
@media (max-width: 580px) {
  .add-new--container .add-new__wrapper {
    margin: 18px 0px;
  }
}
.add-new--container .add-new__wrapper .add-new--title__wrapper {
  align-items: center;
  height: 48px;
  display: none;
}
.add-new--container .add-new__wrapper .add-new--title__wrapper .title--input {
  width: 100%;
  height: 24px;
  border: none;
  margin: 8px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.add-new--container .add-new__wrapper .add-new--title__wrapper .title--input:focus {
  outline: none;
}
.add-new--container .add-new__wrapper .add-new--text__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
}
.add-new--container .add-new__wrapper .add-new--text__wrapper .text--input {
  width: 100%;
  height: 24px;
  border: none;
  margin: 8px;
  font-size: 18px;
  color: black;
}
.add-new--container .add-new__wrapper .add-new--text__wrapper .text--input:focus {
  outline: none;
}
.add-new--container .add-new__wrapper .add-new--text__wrapper .text--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-new--container .add-new__wrapper .add-new--text__wrapper .text--icon__wrapper .text--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
  padding: 11px;
}
.add-new--container .add-new__wrapper .add-new--text__wrapper .text--icon__wrapper .text--icon:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.add-new--container .add-new__wrapper .add-new--text__wrapper .text--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper {
  align-items: center;
  height: 48px;
  justify-content: space-between;
  display: none;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container {
  display: flex;
  gap: 14px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper .material-symbols-outlined {
  width: 32px;
  height: 32px;
  padding: 7px;
  opacity: 0.65;
  transition: ease-in 0.2s;
  font-size: 18px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper .material-symbols-outlined:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--button {
  padding: 8px 24px;
  font-size: 14px;
  font-weight: bolder;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: rgb(66, 66, 66);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--button:hover {
  background-color: rgba(225, 225, 225, 0.347);
}

.add-new__wrapper.active {
  height: 132px;
  box-shadow: 1px 1px 8px 0px rgba(24, 24, 24, 0.563);
}
.add-new__wrapper.active .add-new--title__wrapper {
  display: flex;
}
.add-new__wrapper.active .add-new--text__wrapper .text--input {
  font-size: 14px;
  font-weight: bolder;
}
.add-new__wrapper.active .add-new--text__wrapper .text--icon__wrapper {
  display: none;
}
.add-new__wrapper.active .text--icon__wrapper {
  display: none;
}
.add-new__wrapper.active .add-new--edit__wrapper {
  display: flex;
}

.add-new__wrapper.active ~ .notes__wrapper {
  margin-top: 200px;
}

.notes__wrapper {
  display: flex;
  position: absolute;
  width: calc(100% - 32px);
  margin-left: 32px;
  margin-top: 52px;
}
.notes__wrapper .notes--list {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: grid;
  gap: 8px;
  grid-template-columns: 240px 240px 240px 240px 240px 240px 240px;
}
@media (max-width: 1820px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px 240px 240px 240px;
  }
}
@media (max-width: 1570px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px 240px 240px;
  }
}
@media (max-width: 1320px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px 240px;
  }
}
@media (max-width: 1080px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px;
  }
}
@media (max-width: 830px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px;
  }
}
@media (max-width: 580px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 100%;
  }
}
.notes__wrapper .notes--list .note {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: fit-content;
  padding-top: 16px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  margin: 4px;
  transition: 0.2s ease;
}
.notes__wrapper .notes--list .note .note--title {
  padding: 0px 16px;
  font-size: 18px;
  color: black;
}
.notes__wrapper .notes--list .note .note--text {
  padding: 12px 16px 61px 16px;
  font-size: 19px;
  color: rgb(59, 59, 59);
}
.notes__wrapper .notes--list .note:hover {
  box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.398);
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
body .main--container {
  display: flex;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=index.css.map */
