* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* body {
  margin: 0;
}
* body ol, * body ul {
  list-style: none;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  font-size: 100%;
  font-weight: normal;
  color: rgb(62, 62, 62);
}
* body img, * body picture, * body svg, * body video {
  display: block;
  width: 100%;
}
* body a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 2px solid rgb(230, 230, 230);
  padding: 6px;
}
.navbar .navbar--menu {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 6px;
}
.navbar .navbar--menu .navbar--menu__icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.navbar .navbar--menu .navbar--menu__icon:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--menu:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.navbar .navbar--logo {
  display: flex;
  align-items: center;
  margin: 0px 90px 0px 4px;
}
.navbar .navbar--logo .navbar--logo__img {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.navbar .navbar--logo .navbar--logo__title {
  font: 400 22px "Product Sans", Arial, sans-serif;
  color: rgb(97, 97, 97);
  padding-left: 8px;
  cursor: pointer;
}
@media (max-width: 790px) {
  .navbar .navbar--logo {
    margin: 0px;
  }
}
.navbar .navbar--search {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex: 1 1 auto;
}
.navbar .navbar--search .navbar--search__wrapper {
  display: flex;
  align-items: center;
  max-width: 720px;
  height: 48px;
  background-color: rgb(242, 243, 245);
  border-radius: 8px;
  width: 100%;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .search__icon-search {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .search__icon-search:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .search__icon-search {
    justify-content: flex-end;
  }
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.navbar .navbar--search .navbar--search__wrapper .navbar--search__input {
  width: 100%;
  padding: 6px;
  border: none;
  background-color: rgb(242, 243, 245);
  font-size: 16px;
  color: rgb(119, 119, 119);
}
.navbar .navbar--search .navbar--search__wrapper .navbar--search__input:focus {
  outline: none;
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper .navbar--search__input {
    display: none;
  }
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper {
    background-color: transparent;
    justify-content: end;
  }
}
.navbar .navbar--search .search--icon__cross-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.navbar .navbar--search .search--icon__cross-wrapper .search--icon-cross {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
  display: none;
}
.navbar .navbar--search .search--icon__cross-wrapper .search--icon-cross:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--search .search--icon__cross-wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.navbar .navbar--search .navbar--icon-list {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper .icon-list--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper .icon-list--icon:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
@media (max-width: 580px) {
  .navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:nth-child(even) {
    display: none;
  }
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--icon-list {
    margin-left: 0px;
  }
}
.navbar .navbar--account {
  display: flex;
  margin-left: 20px;
}
.navbar .navbar--account .account--icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 6px;
}
.navbar .navbar--account .account--icon__wrapper .account--bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgb(124, 37, 255);
  border-radius: 16px;
}
.navbar .navbar--account .account--icon__wrapper .account--letter {
  color: white;
  font: 400 16px "Product Sans", Arial, sans-serif;
}
.navbar .navbar--account .account--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
}
@media (max-width: 1020px) {
  .navbar .navbar--account {
    margin-left: 0px;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100vh;
  z-index: 999;
  transition: ease-in 0.1s;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.aside .aside--item__wrapper {
  display: flex;
  align-items: center;
}
.aside .aside--item__wrapper .aside--icon__wrapper {
  margin-left: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.aside .aside--item__wrapper .aside--icon__wrapper .aside--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.aside .aside--item__wrapper .aside--icon__wrapper .aside--icon:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.aside .aside--item__wrapper .aside--icon__wrapper:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
}
.aside .aside--item__wrapper .aside--icon__wrapper.active {
  background-color: rgb(252, 240, 193);
  border-radius: 24px;
}
.aside .aside--item__wrapper:first-of-type {
  margin-top: 6px;
}
.aside .aside--item__text {
  font: bold 13px "Product Sans", Arial, sans-serif;
  padding-left: 24px;
  color: rgb(69, 69, 69);
  display: none;
  transition: ease-in 0.2s;
  transition-delay: 0.3s;
}

.aside:hover {
  width: 280px;
  box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.4666666667);
  transition: ease-in 0.1s;
  transition-delay: 0.3s;
}
.aside:hover .aside--item__wrapper {
  width: 100%;
  cursor: pointer;
}
.aside:hover .aside--item__wrapper .aside--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.aside:hover .aside--item__wrapper .aside--icon__wrapper .aside--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
}
.aside:hover .aside--item__wrapper:hover {
  transition-delay: 0.3s;
  background-color: rgb(230, 230, 230);
  border-radius: 0px 24px 24px 0px;
}
.aside:hover .aside--item__wrapper.active {
  transition-delay: 0.3s;
  background-color: rgb(252, 240, 193);
  border-radius: 0px 24px 24px 0px;
}
.aside:hover .aside--item__text {
  overflow: hidden;
  transition: ease-in 0.3s;
  transition-delay: 0.3s;
  display: flex;
}

.notes--container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 80px;
  width: calc(100% - 80px);
  height: 100dvh;
}
.notes--container .add-new__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: clamp(240px, 90%, 600px);
  height: 44px;
  margin: 32px 0px;
  padding: 2px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(72, 72, 72, 0.563);
}
.notes--container .add-new__wrapper .add-new--input {
  width: 100%;
  height: 24px;
  border: none;
  margin: 8px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.notes--container .add-new__wrapper .add-new--input:focus {
  outline: none;
}
.notes--container .add-new__wrapper .add-new--icon__wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.notes--container .add-new__wrapper .add-new--icon__wrapper .add-new--icon {
  width: 48px;
  height: 48px;
  padding: 15px;
  opacity: 0.65;
  transition: ease-in 0.2s;
  padding: 11px;
}
@media (max-width: 580px) {
  .notes--container .add-new__wrapper {
    margin: 18px 0px;
  }
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
body .main--container {
  display: flex;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=index.css.map */
