@import "./abstract/base";
@import "./abstract/colors";
@import "./abstract/mixin";
@import "./abstract/normalize";
@import "./abstract/typography";

.navbar {
    display: flex;
    align-items: center;
    width: 100dvw;
    height: 64px;
    border-bottom: 2px solid $light-blue-grey;
    padding: 6px;
    .navbar--menu {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .navbar--menu__icon {
            width: 48px;
            height: 48px;
            padding: 16px;
            opacity: 0.55;
            transition: ease-in 0.2s;
        }
        .navbar--menu__icon:hover {
            opacity: 1;
            transition: ease-in 0.15s;
        }
    }
    .navbar--menu:hover {
        background-color: $light-blue-grey;
        border-radius: 24px;
    }
    .navbar--logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 38px;
        .navbar--logo__img {
            width: 40px;
            height: auto;
            cursor: pointer;
        }
        .navbar--logo__title {
            font: 400 22px "Product Sans",Arial,sans-serif ;
            color: rgb(97, 97, 97);
            padding-left: 10px;
            vertical-align: middle;
            cursor: pointer;
        }
    }
    .navbar--search {
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        width: 55dvw;
        height: 48px;
        background-color: $light-blue-grey;
        border-radius: 8px;
        margin: 0px 38px;
        .navbar--search__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            .search--icon__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                cursor: pointer;
                .search__icon-search {
                    width: 48px;
                    height: 48px;
                    padding: 16px;
                    opacity: 0.55;
                    transition: ease-in 0.2s;
                }
                .search__icon-search:hover {
                    opacity: 1;
                    transition: ease-in 0.15s;
                }
            }
            .search--icon__wrapper {
                background-color: $light-blue-grey;
                border-radius: 24px;
            }
            .navbar--search__input {
                width: 30dvw;
                padding: 14px;
                border: none;
                background-color: $light-blue-grey;
                font-size: 16px;
            }
            .navbar--search__input:focus {
                outline: none;
            }
        }
        .search--icon__cross-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            .search--icon-cross {
                width: 48px;
                height: 48px;
                padding: 14px;
                opacity: 0.55;
                transition: ease-in 0.2s;
                cursor: pointer;
            }
            .search--icon-cross:hover {
                opacity: 1;
                transition: ease-in 0.15s;
            }
        }
        .search--icon__cross-wrapper:hover {
            background-color: $light-blue-grey;
            border-radius: 24px;
        }
    }
    .navbar--icon-list {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-list--icon__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            .icon-list--icon {
                width: 48px;
                height: 48px;
                padding: 14px;
                opacity: 0.55;
                transition: ease-in 0.2s;
                cursor: pointer;
            }
            .icon-list--icon:hover {
                opacity: 1;
                transition: ease-in 0.15s;
            }
        }
        .icon-list--icon__wrapper:hover {
            background-color: $light-blue-grey;
            border-radius: 24px;
        }
    }
    .navbar--account {
        display: flex;
        align-items: center;
        justify-content: center;
        .account--icon__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            .account--bg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: rgb(124, 37, 255);
                border-radius: 16px;
            }
            .account--letter {
                color: white;
                font: 400 16px "Product Sans", Arial, sans-serif;
            }
        }
        .account--icon__wrapper:hover {
            background-color: $light-blue-grey;
            border-radius: 20px;
        }
    }
}