.add-new--container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: calc(100% - 64px);
  height: fit-content;
  margin-left: 54px;
  .add-new__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: clamp(240px, 90%, 600px);
    height: fit-content;
    margin: 32px 0px 32px 24px;
    border-radius: $border-radius--big;
    box-shadow: $box-shadow--small__dark;
    background-color: white;

    @media (max-width: 620px) {
      margin: 18px 8px;
      margin-left: 32px;
    }
    .add-new__pattern-wrapper {
      @include background-images;
      border-radius: $border-radius--big $border-radius--big 0px 0px;
      .add-new--image__wrapper {
        width: 100%;
        height: fit-content;
        .add-new--image {
          width: 100%;
          height: auto;
          border-radius: $border-radius--big $border-radius--big 0px 0px;
        }
      }
      .add-new--title__wrapper {
        align-items: center;
        height: 48px;
        display: none;
        padding: 2px 10px;
        height: fit-content;
        .title--input {
          height: fit-content;
          width: 100%;
          height: 24px;
          border: none;
          margin: 8px;
          font-size: $font-size--medium;
          color: rgb(0, 0, 0);
          background-color: transparent;
        }
        .title--input[contenteditable]:empty::before {
          content: "Tytuł";
          color: rgb(89, 89, 89);
        }
        .title--input:focus {
          outline: none;
        }
        .title--icon__wrapper {
          @include small-icons-wrapper;
          .material-symbols-outlined {
            @include medium-icons;
          }
          .tooltip--text {
            @include small-tooltip;
          }
        }
        .title--icon__wrapper:hover {
          @include icons-wrapper--hover;
          .material-symbols-outlined {
            @include icons--hover;
          }
          .tooltip--text {
            visibility: visible;
          }
        }
      }
      .add-new--text__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 48px;
        padding: 2px 10px;

        .text--input {
          width: 100%;
          height: 24px;
          border: none;
          margin: 8px;
          font-size: $font-size--medium;
          color: black;
          background-color: transparent;
        }
        .text--input[contenteditable]:empty::before {
          content: "Utwórz notatkę...";
          color: rgb(89, 89, 89);
        }
        .text--input:focus {
          outline: none;
        }
        .text--icon__wrapper {
          @include big-icons-wrapper;

          .material-symbols-outlined {
            @include big-icons;
          }
          .tooltip--text {
            @include big-tooltip;
          }
        }
        .text--icon__wrapper:hover {
          @include icons-wrapper--hover;
          .material-symbols-outlined:hover {
            @include icons--hover;
          }
          .tooltip--text {
            visibility: visible;
          }
        }
      }
    }
    .add-new__tags--wrapper {
      display: flex;
      margin: 0px 16px;
      gap: 6px;
      .active__tag--wrapper {
        background-color: $light-blue-grey;
        border-radius: $border-radius--circle;
        .active__tag {
          font-size: 11px;
          padding: 4px 8px;
        }
      }
    }
    .add-new--edit__wrapper {
      align-items: center;
      height: 48px;
      justify-content: space-between;
      display: none;
      padding: 8px 10px;
      @media (max-width: 620px) {
        height: 80px;
        align-items: baseline;
      }

      .edit--icons__container {
        position: relative;
        display: flex;
        gap: 18px;
        @media (max-width: 620px) {
          gap: 8px;
          height: 84px;
        }
        @media (max-width: 480px) {
          gap: 0px;
        }
        .edit--icons__wrapper {
          @include small-icons-wrapper;
          .file-input {
            width: 48px;
            height: 24px;
            z-index: 4;
            position: absolute;
            top: 8px;
            opacity: 0;
            cursor: pointer;
          }
          .material-symbols-outlined {
            @include small-icons;
          }
          .tooltip--text {
            @include small-tooltip;
            z-index: 2;
          }
        }
        .add--background__wrapper {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 34px;
          left: 68px;
          width: 460px;
          height: fit-content;
          background-color: white;
          border-radius: $border-radius--big;
          border: $border--small__light;
          box-shadow: $box-shadow--small;
          z-index: 1;
          @media (max-width: 620px) {
            position: fixed;
            top: 230px;
            left: 0px;
          }
          @media (max-width: 460px) {
            width: 100%;
          }

          .background--color__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 48%;
            border-bottom: 1px solid $light-blue-grey;
            padding: 8px 14px 8px 14px;
            .background--color {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              border-radius: $border-radius--circle;
              cursor: pointer;
              position: relative;
              @media (max-width: 460px) {
                width: 28px;
                height: 28px;
              }
              @media (max-width: 380px) {
                width: 24px;
                height: 24px;
              }
              .tooltip--text {
                @include medium-tooltip;
                top: 30px;
              }
              .material-symbols-outlined {
                display: none;
                position: absolute;
                top: -6px;
                right: -6px;
                font-size: $font-size--big;
                background-color: rgb(159, 30, 220);
                color: white;
                border-radius: $border-radius--circle;
              }
            }
            .color--none {
              background-color: white;
              border: $border--big__light;
              .material-symbols-outlined {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size--medium;
                position: static;
                color: rgba(0, 0, 0, 0.651);
                background-color: white;
              }
              .material-symbols-outlined:last-of-type {
                display: none;
              }
            }
            .color--none.active {
              .material-symbols-outlined:last-of-type {
                display: flex;
                position: absolute;
                top: -6px;
                right: -6px;
                font-size: $font-size--big;
                background-color: rgb(159, 30, 220);
                color: white;
                border-radius: $border-radius--circle;
              }
            }
            .color--coral {
              background-color: rgb(250, 180, 174);
            }
            .color--peach {
              background-color: rgb(255, 175, 129);
            }
            .color--pale-pink {
              background-color: rgb(254, 243, 186);
            }
            .color--pistachio {
              background-color: rgb(210, 235, 196);
            }
            .color--mint {
              background-color: rgb(172, 224, 202);
            }
            .color--light-grey {
              background-color: rgb(214, 232, 240);
            }
            .color--storm {
              background-color: rgb(179, 210, 224);
            }
            .color--dusk {
              background-color: rgb(200, 183, 206);
            }
            .color--flower {
              background-color: rgb(250, 223, 223);
            }
            .color--clay {
              background-color: rgb(235, 227, 211);
            }
            .color--grey {
              background-color: rgb(235, 235, 235);
            }
            .background--color:hover {
              border: $border--big__dark;
              .tooltip--text {
                visibility: visible;
              }
            }
            .background--color.active {
              border: $border--big__violet;
              .material-symbols-outlined {
                display: flex;
              }
            }
          }
          .background--pattern__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 52%;
            padding: 6px 9px;
            .background--pattern {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: $border-radius--circle;
              position: relative;
              cursor: pointer;
              @media (max-width: 460px) {
                width: 34px;
                height: 34px;
              }
              @media (max-width: 380px) {
                width: 30px;
                height: 30px;
              }
              .tooltip--text {
                @include medium-tooltip;
                top: 38px;
              }
              .material-symbols-outlined {
                display: none;
                position: absolute;
                top: -6px;
                right: -6px;
                font-size: $font-size--big;
                background-color: $violet-color;
                color: white;
                border-radius: $border-radius--circle;
              }
            }
            .background--pattern:hover {
              border: $border--big__dark;
              .tooltip--text {
                visibility: visible;
              }
            }
            .background--pattern.active {
              border: $border--big__violet;
              .material-symbols-outlined {
                display: flex;
              }
            }
            .pattern--none {
              border: $border--big__light;
              .material-symbols-outlined {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size--Xbig;
                position: static;
                color: rgba(0, 0, 0, 0.651);
                background-color: white;
              }
              .material-symbols-outlined:last-of-type {
                display: none;
              }
            }
            .pattern--none.active {
              .material-symbols-outlined:last-of-type {
                display: flex;
                position: absolute;
                top: -6px;
                right: -6px;
                font-size: $font-size--big;
                background-color: $violet-color;
                color: white;
                border-radius: $border-radius--circle;
              }
            }
            .pattern--food-products {
              background-image: url(https://www.gstatic.com/keep/backgrounds/grocery_light_thumb_0615.svg);
            }
            .pattern--food {
              background-image: url(https://www.gstatic.com/keep/backgrounds/food_light_thumb_0615.svg);
            }
            .pattern--music {
              background-image: url(https://www.gstatic.com/keep/backgrounds/music_light_thumb_0615.svg);
            }
            .pattern--recipe {
              background-image: url(https://www.gstatic.com/keep/backgrounds/recipe_light_thumb_0615.svg);
            }
            .pattern--notes {
              background-image: url(https://www.gstatic.com/keep/backgrounds/notes_light_thumb_0615.svg);
            }
            .pattern--places {
              background-image: url(https://www.gstatic.com/keep/backgrounds/places_light_thumb_0615.svg);
            }
            .pattern--travel {
              background-image: url(https://www.gstatic.com/keep/backgrounds/travel_light_thumb_0615.svg);
            }
            .pattern--movie {
              background-image: url(https://www.gstatic.com/keep/backgrounds/video_light_thumb_0615.svg);
            }
            .pattern--celebration {
              background-image: url(https://www.gstatic.com/keep/backgrounds/celebration_light_thumb_0715.svg);
            }
          }
        }
        .add--background__wrapper.active {
          display: flex;
        }
        .add--more__wrapper {
          display: none;
          position: absolute;
          left: 260px;
          top: 34px;
          height: fit-content;
          background-color: white;
          box-shadow: $box-shadow--small;
          border-radius: $border-radius--small;
          z-index: 5;
          @media (max-width: 620px) {
            left: 200px;
            top: 64px;
          }
          @media (max-width: 520px) {
            left: 160px;
          }
          @media (max-width: 480px) {
            left: 0px;
          }
          .add--buttons__wrapper {
            display: flex;
            flex-direction: column;
            width: 160px;
            padding: 8px 18px;
            .add--button {
              font-size: $font-size--small;
              color: $dark-grey;
              text-align: left;
              width: 100%;
              padding: 8px 0px;
              border: none;
              background-color: transparent;
              cursor: pointer;
            }
            .add--more__button:hover {
              background-color: $light-blue-grey;
            }
          }
          .add--tags__wrapper {
            display: none;
            flex-direction: column;
            width: 220px;
            .add--tags__title {
              color: black;
              font-size: $font-size--small;
              margin: 8px 12px;
            }
            .add--tags__input {
              width: 200px;
              border: none;
              color: $dark-grey;
              margin: 8px 12px;
            }
            .add--tags__input:focus {
              outline: none;
            }
            .add--tag__list {
              .tag__wrapper {
                display: flex;
                padding: 4px 10px;
                cursor: pointer;
                .material-symbols-outlined {
                  width: 22px;
                  height: 22px;
                  font-size: $font-size--medium;
                  color: $dark-grey;
                }
                .tag {
                  font-size: $font-size--small;
                }
              }
              .tag__wrapper:hover {
                background-color: $light-blue-grey;
              }
            }
            .tag--value__wrapper {
              display: flex;
              width: 100%;
              border-top: 1px solid rgb(221, 221, 221);
              cursor: pointer;
              display: none;
              .material-symbols-outlined {
                font-size: 16px;
                width: 16px;
                height: 16px;
                color: $dark-grey;
                margin: 8px 6px 0px 12px;
              }
              .tag--value__title {
                margin: 8px 0px;
                color: black;
                font-size: $font-size--small;
                .tag--value {
                  color: black;
                  font-size: $font-size--small;
                  font-weight: bolder;
                }
              }
            }
            .tag--value__wrapper:hover {
              background-color: $light-blue-grey;
            }
          }
        }
        .add--more__wrapper.active {
          display: flex;
        }
        .edit--icons__wrapper:hover {
          @include icons-wrapper--hover;
          .material-symbols-outlined {
            @include icons--hover;
          }
          .tooltip--text {
            visibility: visible;
          }
        }
      }

      .edit--button {
        padding: 8px 24px;
        font-size: $font-size--small;
        font-weight: bolder;
        background-color: transparent;
        border-radius: $border-radius--small;
        border: none;
        color: $dark-grey;
        @media (max-width: 620px) {
          position: absolute;
          bottom: 28px;
          right: 28px;
        }
      }
      .edit--button:hover {
        background-color: rgba(77, 77, 77, 0.032);
      }
    }
  }
  .add-new__wrapper.active {
    height: fit-content;

    .add-new--image__wrapper {
      display: flex;
    }
    .add-new--title__wrapper {
      display: flex;
    }
    .add-new--text__wrapper {
      height: fit-content;

      .text--input {
        height: fit-content;
        font-size: $font-size--small;
      }
      .text--input[contenteditable]:empty::before {
        font-weight: bolder;
      }
      .text--icon__wrapper {
        display: none;
      }
    }
    .text--icon__wrapper {
      display: none;
    }
    .add-new--edit__wrapper {
      display: flex;
    }
  }
}
