.account--login__wrapper {
  align-items: center;
  flex-direction: column;
  width: 410px;
  height: fit-content;
  position: absolute;
  top: 60px;
  right: 12px;
  background-color: rgb(238, 242, 245);
  border-radius: 25px;
  box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.563);
  padding: 18px 12px;
  display: none;
  @media (max-width: 430px) {
    width: 100vw;
    height: 100vh;
    top: 0px;
    right: 0px;
    border-radius: 0px;
  }
  .login--email__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    .email--email {
      font-size: $font-size--small;
      font-weight: bolder;
    }
    .email--icon__wrapper {
      @include medium-icons-wrapper;
      position: absolute;
      top: -12px;
      right: -4px;
      .material-symbols-outlined {
        @include big-icons;
      }
    }
    .email--icon__wrapper:hover {
        @include icons-wrapper--hover;
        .material-symbols-outlined {
            @include icons--hover;
        }
    }
  }
  .login--account-edit__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 24px;
    .account-edit--photo__wrapper {
      width: 84px;
      height: 84px;
      border: 1px $light-blue-grey solid;
      border-radius: 42px;
      position: relative;
      background-position: center;
      background-size: cover;
      .account-edit--photo {
        object-fit: cover;
        border-radius: 42px;
      }
      .account-edit--icon__wrapper {
        @include small-icons-wrapper;
        width: 24px;
        height: 24px;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        position: absolute;
        bottom: -2px;
        right: 0px;
        .material-symbols-outlined {
          @include small-icons;
        }
      }
    }
    .account-edit--welcome {
      width: 100%;
      height: fit-content;
      margin-top: 12px;
      font-size: 20px;
      text-align: center;
    }
    .account-edit--button {
      width: 55%;
      padding: 10px 0px;
      border: 1px rgb(56, 56, 56) solid;
      background-color: transparent;
      border-radius: 24px;
      font-size: 15px;
      font-weight: bolder;
      color: #5664ff;
      margin: 12px 0px;
      cursor: pointer;
    }
    .account-edit--button:hover {
        background-color: rgba(109, 160, 255, 0.128);
    }
  }
  .login--other-accounts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .other-accounts--button:first-of-type {
        border-radius: 32px 32px 6px 6px;
        justify-content: space-between;
    }
    .other-accounts--button:last-of-type {
        border-radius: 6px 6px 32px 32px;
    }
    .other-accounts--button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 60px;
      margin: 1px 0px;
      padding: 0px 24px;
      border: none;
      background-color: rgb(252, 252, 252);
      cursor: pointer;
      border-radius: 6px;
      .button--hide__text {
        font-size: $font-size--small;
        font-weight: bolder;
        padding: 4px 0px;
      }
      .button--hide__icon {
        @include icons-wrapper--hover;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
      }
      .button--photo__wrapper {
        width: 38px;
        height: 38px;
        border: 1px $light-blue-grey solid;
        border-radius: 21px;
      }
      .button--text__wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        justify-content: start;
        margin-left: 16px;
        .button--text--title {
          font-size: $font-size--small;
          font-weight: bolder;
          padding: 4px 0px;
        }
        .button--text--email {
          font-size: 12px;
          padding: 4px 0px;
          color: rgb(75, 75, 75);
        }
      }
      .button--add__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background-color: aliceblue;
        border-radius: 12px;
        .material-symbols-outlined {
            color: #5664ff;
        }
      }
      .button--add__text {
        margin-left: 16px;
        font-size: $font-size--small;
        font-weight: bolder;
        padding: 4px 0px;
      }
      .button--log-out__icon {
        .material-symbols-outlined {
            color: rgb(70, 70, 70);
        }
      }
      .button--log-out__text {
        margin-left: 16px;
        font-size: $font-size--small;
        font-weight: bolder;
        padding: 4px 0px;
      }
    }
    .other-accounts--button:hover {
        background-color: rgba(153, 153, 153, 0.143);
    }
  }
  .login--policies__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    .policies--link__wrapper {
        width: fit-content;
        padding: 4px;
        border-radius: 4px;
        .policies--link {
            font-size: 12px;
            color: rgb(95, 95, 95);
        }
    }
    .policies--link__wrapper:hover {
        background-color: #00000011;
    }
    .policies--dot {
        margin: 0px 10px;
    }
  }
}
.account--login__wrapper.active {
  display: flex;
}