.main--container {
  .modal {
    width: clamp(240px, 60%, 420px);
    height: 140px;
    box-shadow: $box-shadow--small__dark;
    border-radius: $border-radius--big;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: none;
    padding: 16px;
    background-color: rgb(255, 250, 236);
    .modal--title {
      font-size: $font-size--big;
      display: block;
      text-align: center;
    }
    .modal--login-btn {
      display: block;
      margin: 24px auto;
      width: 108px;
      height: 36px;
      background-color: white;
      border: none;
      border-radius: $border-radius--small;
      box-shadow: $box-shadow--small;
    }
    .modal--login-btn:hover {
      box-shadow: $box-shadow--small__dark;
      cursor: pointer;
    }
  }
}
