.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid $light-blue-grey;
  padding: 6px;
  position: relative;
  z-index: 2;
  .navbar--menu {
    @include big-icons-wrapper;
    margin-left: 6px;
    .material-symbols-outlined {
      @include big-icons;
    }
  }
  @media (max-width: 790px) {
    .navbar--menu.search-active {
      display: none;
    }
  }

  .navbar--menu:hover {
    @include icons-wrapper--hover;
    .material-symbols-outlined {
      @include icons--hover;
    }
  }
  .navbar--logo {
    display: flex;
    align-items: center;
    margin: 0px 90px 0px 4px;

    .navbar--logo__img {
      width: 40px;
      height: auto;
      cursor: pointer;
    }
    .navbar--logo__title {
      font: 400 $font-size--big "Product Sans", Arial, sans-serif;
      color: rgb(97, 97, 97);
      padding-left: 7px;
      cursor: pointer;
    }
  }

  @media (max-width: 790px) {
    .navbar--logo {
      margin: 0px;
    }
    .navbar--logo.search-active {
      display: none;
    }
  }

  .navbar--search {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex: 1 1 auto;

    .navbar--search__wrapper {
      display: flex;
      align-items: center;
      max-width: 720px;
      height: 48px;
      background-color: rgb(242, 243, 245);
      border-radius: $border-radius--big;
      width: 100%;

      @media (max-width: 790px) {
        background-color: transparent;
        justify-content: end;
      }

      .search--icon__wrapper {
        @include medium-icons-wrapper;
        margin-left: 8px;
        .material-symbols-outlined {
          @include medium-icons;
        }
        .tooltip--text {
          @include big-tooltip;
          font-weight: bolder;
        }
      }
      .search--icon__wrapper:hover {
        @include icons-wrapper--hover;
        .material-symbols-outlined {
          @include icons--hover;
        }
        .tooltip--text {
          visibility: visible;
        }
      }
      .navbar--search__input {
        width: 100%;
        padding: 6px;
        border: none;
        background-color: rgb(242, 243, 245);
        font-size: 16px;
        color: rgb(119, 119, 119);

        @media (max-width: 790px) {
          display: none;
        }
      }
      .navbar--search__input:focus {
        outline: none;
      }

      .search--icon-cross__wrapper {
        display: none;
        margin-right: 8px;
      }
    }
    .navbar--search__wrapper.active {
      background-color: rgb(255, 255, 255);
      box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.398);

      @media (max-width: 790px) {
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.398);
      }
      .navbar--search__input {
        background-color: rgb(255, 255, 255);

        @media (max-width: 790px) {
          display: flex;
        }
      }
      .search--icon-cross__wrapper {
        @include medium-icons-wrapper;
        display: flex;
        .material-symbols-outlined {
          @include medium-icons;
        }
        .tooltip--text {
          @include big-tooltip;
          font-weight: bolder;
        }
      }
      .search--icon-cross__wrapper:hover {
        @include icons-wrapper--hover;
        .material-symbols-outlined {
          @include icons--hover;
        }
        .tooltip--text {
          visibility: visible;
        }
      }
    }

    .navbar--icon-list {
      display: flex;
      align-items: center;
      margin-left: 12px;
      .icon-list--icon__wrapper {
        @include big-icons-wrapper;
        .material-symbols-outlined {
          @include big-icons;
        }
        .tooltip--text {
          @include big-tooltip;
        }
      }
      .icon-list--icon__wrapper:hover {
        @include icons-wrapper--hover;
        .material-symbols-outlined {
          @include icons--hover;
        }
        .tooltip--text {
          visibility: visible;
        }
      }
      @media (max-width: 580px) {
        .icon-list--icon__wrapper:nth-child(even) {
          display: none;
        }
      }
      @media (max-width: 380px) {
        .icon-list--icon__wrapper:first-child {
          display: none;
        }
      }
    }
    @media (max-width: 790px) {
      .navbar--icon-list {
        margin-left: 0px;
      }
    }
  }

  .navbar--account {
    display: flex;
    margin-left: 20px;
    position: relative;
    .account--icon__wrapper {
      @include medium-icons-wrapper;
      margin: 6px;
      .material-symbols-outlined {
        @include medium-icons;
      }
      .tooltip--text {
        @include medium-tooltip;
        font-weight: bolder;
      }
      .account--bg {
        @include small-icons;
        background-color: rgb(101, 0, 253);
        border-radius: $border-radius--circle;
        background-position: center;
        background-size: cover;
        opacity: 1;
        border: 1px $light-blue-grey solid;
        
      }
    }
    .account--icon__wrapper:hover {
      background-color: $light-blue-grey;
      border-radius: $border-radius--circle;
      .material-symbols-outlined {
        @include icons--hover;
      }
      .tooltip--text {
        visibility: visible;
      }
    }
    @media (max-width: 1020px) {
      margin-left: 0px;
    }
  }
}
