@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* body {
  margin: 0;
}
* body ol, * body ul {
  list-style: none;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  font-size: 100%;
  font-weight: normal;
  color: rgb(62, 62, 62);
}
* body img, * body picture, * body svg, * body video {
  display: block;
  width: 100%;
}
* body a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.086);
  position: relative;
  z-index: 2;
}
.navbar .navbar--menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 48px;
  height: 48px;
  margin-left: 6px;
}
@media (max-width: 430px) {
  .navbar .navbar--menu {
    width: 40px;
    height: 40px;
  }
}
.navbar .navbar--menu .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  padding: 15px;
  font-size: 24px;
}
@media (max-width: 430px) {
  .navbar .navbar--menu .material-symbols-outlined {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
  }
}
@media (max-width: 790px) {
  .navbar .navbar--menu.search-active {
    display: none;
  }
}
.navbar .navbar--menu:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.navbar .navbar--menu:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--logo {
  display: flex;
  align-items: center;
  margin: 0px 90px 0px 4px;
}
.navbar .navbar--logo .navbar--logo__img {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.navbar .navbar--logo .navbar--logo__title {
  font: 400 21px "Product Sans", Arial, sans-serif;
  color: rgb(97, 97, 97);
  padding-left: 7px;
  cursor: pointer;
}
@media (max-width: 790px) {
  .navbar .navbar--logo {
    margin: 0px;
  }
  .navbar .navbar--logo.search-active {
    display: none;
  }
}
.navbar .navbar--search {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex: 1 1 auto;
}
.navbar .navbar--search .navbar--search__wrapper {
  display: flex;
  align-items: center;
  max-width: 720px;
  height: 48px;
  background-color: rgb(242, 243, 245);
  border-radius: 8px;
  width: 100%;
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper {
    background-color: transparent;
    justify-content: end;
  }
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 40px;
  height: 40px;
  margin-left: 8px;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  top: 48px;
  font-weight: bolder;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon__wrapper:hover .tooltip--text {
  visibility: visible;
}
.navbar .navbar--search .navbar--search__wrapper .navbar--search__input {
  width: 100%;
  padding: 6px;
  border: none;
  background-color: rgb(242, 243, 245);
  font-size: 18px;
  color: rgb(119, 119, 119);
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper .navbar--search__input {
    display: none;
  }
}
.navbar .navbar--search .navbar--search__wrapper .navbar--search__input:focus {
  outline: none;
}
.navbar .navbar--search .navbar--search__wrapper .search--icon-cross__wrapper {
  display: none;
  margin-right: 8px;
}
.navbar .navbar--search .navbar--search__wrapper.active {
  background-color: white;
  box-shadow: 1px 1px 6px 0px rgba(38, 38, 38, 0.495);
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper.active {
    background-color: white;
    box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.171);
  }
}
.navbar .navbar--search .navbar--search__wrapper.active .navbar--search__input {
  background-color: white;
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--search__wrapper.active .navbar--search__input {
    display: flex;
  }
}
.navbar .navbar--search .navbar--search__wrapper.active .search--icon-cross__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 40px;
  height: 40px;
  display: flex;
}
.navbar .navbar--search .navbar--search__wrapper.active .search--icon-cross__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
}
.navbar .navbar--search .navbar--search__wrapper.active .search--icon-cross__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  top: 48px;
  font-weight: bolder;
}
.navbar .navbar--search .navbar--search__wrapper.active .search--icon-cross__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.navbar .navbar--search .navbar--search__wrapper.active .search--icon-cross__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--search .navbar--search__wrapper.active .search--icon-cross__wrapper:hover .tooltip--text {
  visibility: visible;
}
.navbar .navbar--search .navbar--icon-list {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 48px;
  height: 48px;
}
@media (max-width: 430px) {
  .navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper {
    width: 40px;
    height: 40px;
  }
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  padding: 15px;
  font-size: 24px;
}
@media (max-width: 430px) {
  .navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper .material-symbols-outlined {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
  }
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  top: 48px;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:hover .tooltip--text {
  visibility: visible;
}
@media (max-width: 580px) {
  .navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:nth-child(even) {
    display: none;
  }
}
@media (max-width: 380px) {
  .navbar .navbar--search .navbar--icon-list .icon-list--icon__wrapper:first-child {
    display: none;
  }
}
@media (max-width: 790px) {
  .navbar .navbar--search .navbar--icon-list {
    margin-left: 0px;
  }
}
.navbar .navbar--account {
  display: flex;
  margin-left: 20px;
  position: relative;
}
.navbar .navbar--account .account--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 40px;
  height: 40px;
  margin: 6px;
}
.navbar .navbar--account .account--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
}
.navbar .navbar--account .account--icon__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  top: 40px;
  font-weight: bolder;
}
.navbar .navbar--account .account--icon__wrapper .account--bg {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(155, 89, 255);
  border-radius: 24px;
  opacity: 1;
  border: 1px rgba(65, 65, 65, 0.086) solid;
}
.navbar .navbar--account .account--icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.navbar .navbar--account .account--icon__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.navbar .navbar--account .account--icon__wrapper:hover .tooltip--text {
  visibility: visible;
}
@media (max-width: 1020px) {
  .navbar .navbar--account {
    margin-left: 0px;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: calc(100dvh - 64px);
  z-index: 1;
  transition: ease-in 0.1s;
  position: relative;
  background-color: white;
}
.aside .aside--item__wrapper {
  display: flex;
  align-items: center;
}
.aside .aside--item__wrapper .aside--icon__wrapper {
  margin-left: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 48px;
  height: 48px;
}
@media (max-width: 430px) {
  .aside .aside--item__wrapper .aside--icon__wrapper {
    width: 40px;
    height: 40px;
  }
}
.aside .aside--item__wrapper .aside--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  padding: 15px;
  font-size: 24px;
}
@media (max-width: 430px) {
  .aside .aside--item__wrapper .aside--icon__wrapper .material-symbols-outlined {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
  }
}
.aside .aside--item__wrapper .aside--icon__wrapper .material-symbols-outlined:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.aside .aside--item__wrapper .aside--icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.aside .aside--item__wrapper .aside--icon__wrapper.active {
  background-color: rgb(252, 240, 193);
  border-radius: 24px;
}
.aside .aside--item__wrapper:first-of-type {
  margin-top: 7px;
}
.aside .aside--item__text {
  font: bold 14px "Product Sans", Arial, sans-serif;
  padding-left: 24px;
  color: rgb(66, 66, 66);
  display: none;
  transition: ease-in 0.2s;
  transition-delay: 0.3s;
}

.aside:hover {
  width: 280px;
  box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.4666666667);
  transition: ease-in 0.1s;
  transition-delay: 0.3s;
}
.aside:hover .aside--item__wrapper {
  width: 100%;
  cursor: pointer;
}
.aside:hover .aside--item__wrapper .aside--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 48px;
  height: 48px;
}
@media (max-width: 430px) {
  .aside:hover .aside--item__wrapper .aside--icon__wrapper {
    width: 40px;
    height: 40px;
  }
}
.aside:hover .aside--item__wrapper .aside--icon__wrapper .aside--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  padding: 15px;
  font-size: 24px;
}
@media (max-width: 430px) {
  .aside:hover .aside--item__wrapper .aside--icon__wrapper .aside--icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
  }
}
.aside:hover .aside--item__wrapper:hover {
  transition-delay: 0.3s;
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 0px 24px 24px 0px;
}
.aside:hover .aside--item__wrapper.active {
  transition-delay: 0.3s;
  background-color: rgb(252, 240, 193);
  border-radius: 0px 24px 24px 0px;
}
.aside:hover .aside--item__text {
  overflow: hidden;
  transition: ease-in 0.3s;
  transition-delay: 0.3s;
  display: flex;
}

.add-new--container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: calc(100% - 64px);
  height: fit-content;
  margin-left: 54px;
}
.add-new--container .add-new__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: clamp(240px, 90%, 600px);
  height: fit-content;
  margin: 32px 0px 32px 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px 0px rgba(38, 38, 38, 0.495);
  background-color: white;
}
@media (max-width: 620px) {
  .add-new--container .add-new__wrapper {
    margin: 18px 8px;
    margin-left: 32px;
  }
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--image__wrapper {
  width: 100%;
  height: fit-content;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--image__wrapper .add-new--image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper {
  align-items: center;
  height: 48px;
  display: none;
  padding: 2px 10px;
  height: fit-content;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--input {
  height: fit-content;
  width: 100%;
  height: 24px;
  border: none;
  margin: 8px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--input[contenteditable]:empty::before {
  content: "Tytuł";
  color: rgb(89, 89, 89);
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--input:focus {
  outline: none;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--icon__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--icon__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--title__wrapper .title--icon__wrapper:hover .tooltip--text {
  visibility: visible;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding: 2px 10px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--input {
  width: 100%;
  height: 24px;
  border: none;
  margin: 8px;
  font-size: 18px;
  color: black;
  background-color: transparent;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--input[contenteditable]:empty::before {
  content: "Utwórz notatkę...";
  color: rgb(89, 89, 89);
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--input:focus {
  outline: none;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 48px;
  height: 48px;
}
@media (max-width: 430px) {
  .add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper {
    width: 40px;
    height: 40px;
  }
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  padding: 15px;
  font-size: 24px;
}
@media (max-width: 430px) {
  .add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper .material-symbols-outlined {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
  }
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  top: 48px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper:hover .material-symbols-outlined:hover {
  opacity: 1;
  transition: ease-in 0.15s;
}
.add-new--container .add-new__wrapper .add-new__pattern-wrapper .add-new--text__wrapper .text--icon__wrapper:hover .tooltip--text {
  visibility: visible;
}
.add-new--container .add-new__wrapper .add-new__tags--wrapper {
  display: flex;
  padding: 2px 10px;
  margin: 0px 8px;
  gap: 6px;
}
.add-new--container .add-new__wrapper .add-new__tags--wrapper .active__tag--wrapper {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new__tags--wrapper .active__tag--wrapper .active__tag {
  font-size: 11px;
  padding: 4px 8px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper {
  align-items: center;
  height: 48px;
  justify-content: space-between;
  display: none;
  padding: 8px 10px;
}
@media (max-width: 620px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper {
    height: 80px;
    align-items: baseline;
  }
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container {
  position: relative;
  display: flex;
  gap: 18px;
}
@media (max-width: 620px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container {
    gap: 8px;
    height: 84px;
  }
}
@media (max-width: 480px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container {
    gap: 0px;
  }
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper .file-input {
  width: 48px;
  height: 24px;
  z-index: 4;
  position: absolute;
  top: 8px;
  opacity: 0;
  cursor: pointer;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  z-index: 2;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 34px;
  left: 68px;
  width: 460px;
  height: fit-content;
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgba(65, 65, 65, 0.086);
  box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.171);
  z-index: 1;
}
@media (max-width: 620px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper {
    position: fixed;
    top: 230px;
    left: 0px;
  }
}
@media (max-width: 460px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper {
    width: 100%;
  }
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 48%;
  border-bottom: 1px solid rgba(65, 65, 65, 0.086);
  padding: 8px 14px 8px 14px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 460px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 380px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color {
    width: 24px;
    height: 24px;
  }
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  top: 40px;
  top: 30px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color .material-symbols-outlined {
  display: none;
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 21px;
  background-color: rgb(159, 30, 220);
  color: white;
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--none {
  background-color: white;
  border: 2px solid rgba(65, 65, 65, 0.086);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--none .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: static;
  color: rgba(0, 0, 0, 0.651);
  background-color: white;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--none .material-symbols-outlined:last-of-type {
  display: none;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--none.active .material-symbols-outlined:last-of-type {
  display: flex;
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 21px;
  background-color: rgb(159, 30, 220);
  color: white;
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--coral {
  background-color: rgb(250, 180, 174);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--peach {
  background-color: rgb(255, 175, 129);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--pale-pink {
  background-color: rgb(254, 243, 186);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--pistachio {
  background-color: rgb(210, 235, 196);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--mint {
  background-color: rgb(172, 224, 202);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--light-grey {
  background-color: rgb(214, 232, 240);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--storm {
  background-color: rgb(179, 210, 224);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--dusk {
  background-color: rgb(200, 183, 206);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--flower {
  background-color: rgb(250, 223, 223);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--clay {
  background-color: rgb(235, 227, 211);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .color--grey {
  background-color: rgb(235, 235, 235);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color:hover {
  border: 2px solid black;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color:hover .tooltip--text {
  visibility: visible;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color.active {
  border: 2px solid rgb(159, 30, 220);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--color__wrapper .background--color.active .material-symbols-outlined {
  display: flex;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 52%;
  padding: 6px 9px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 460px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern {
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 380px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern {
    width: 30px;
    height: 30px;
  }
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  top: 40px;
  top: 38px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern .material-symbols-outlined {
  display: none;
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 21px;
  background-color: rgb(159, 30, 220);
  color: white;
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern:hover {
  border: 2px solid black;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern:hover .tooltip--text {
  visibility: visible;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern.active {
  border: 2px solid rgb(159, 30, 220);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .background--pattern.active .material-symbols-outlined {
  display: flex;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--none {
  border: 2px solid rgba(65, 65, 65, 0.086);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--none .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: static;
  color: rgba(0, 0, 0, 0.651);
  background-color: white;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--none .material-symbols-outlined:last-of-type {
  display: none;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--none.active .material-symbols-outlined:last-of-type {
  display: flex;
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 21px;
  background-color: rgb(159, 30, 220);
  color: white;
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--food-products {
  background-image: url(https://www.gstatic.com/keep/backgrounds/grocery_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--food {
  background-image: url(https://www.gstatic.com/keep/backgrounds/food_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--music {
  background-image: url(https://www.gstatic.com/keep/backgrounds/music_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--recipe {
  background-image: url(https://www.gstatic.com/keep/backgrounds/recipe_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--notes {
  background-image: url(https://www.gstatic.com/keep/backgrounds/notes_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--places {
  background-image: url(https://www.gstatic.com/keep/backgrounds/places_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--travel {
  background-image: url(https://www.gstatic.com/keep/backgrounds/travel_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--movie {
  background-image: url(https://www.gstatic.com/keep/backgrounds/video_light_thumb_0615.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper .background--pattern__wrapper .pattern--celebration {
  background-image: url(https://www.gstatic.com/keep/backgrounds/celebration_light_thumb_0715.svg);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--background__wrapper.active {
  display: flex;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper {
  display: none;
  position: absolute;
  left: 260px;
  top: 34px;
  height: fit-content;
  background-color: white;
  box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.171);
  border-radius: 4px;
  z-index: 5;
}
@media (max-width: 620px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper {
    left: 200px;
    top: 64px;
  }
}
@media (max-width: 520px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper {
    left: 160px;
  }
}
@media (max-width: 480px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper {
    left: 0px;
  }
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--buttons__wrapper {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding: 8px 18px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--buttons__wrapper .add--button {
  font-size: 14px;
  color: rgb(66, 66, 66);
  text-align: left;
  width: 100%;
  padding: 8px 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--buttons__wrapper .add--more__button:hover {
  background-color: rgba(65, 65, 65, 0.086);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper {
  display: none;
  flex-direction: column;
  width: 220px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .add--tags__title {
  color: black;
  font-size: 14px;
  margin: 8px 12px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .add--tags__input {
  width: 200px;
  border: none;
  color: rgb(66, 66, 66);
  margin: 8px 12px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .add--tags__input:focus {
  outline: none;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .add--tag__list .tag__wrapper {
  display: flex;
  padding: 4px 10px;
  cursor: pointer;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .add--tag__list .tag__wrapper .material-symbols-outlined {
  width: 22px;
  height: 22px;
  font-size: 18px;
  color: rgb(66, 66, 66);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .add--tag__list .tag__wrapper .tag {
  font-size: 14px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .add--tag__list .tag__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .tag--value__wrapper {
  display: flex;
  width: 100%;
  border-top: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  display: none;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .tag--value__wrapper .material-symbols-outlined {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: rgb(66, 66, 66);
  margin: 8px 6px 0px 12px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .tag--value__wrapper .tag--value__title {
  margin: 8px 0px;
  color: black;
  font-size: 14px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .tag--value__wrapper .tag--value__title .tag--value {
  color: black;
  font-size: 14px;
  font-weight: bolder;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper .add--tags__wrapper .tag--value__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .add--more__wrapper.active {
  display: flex;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--icons__container .edit--icons__wrapper:hover .tooltip--text {
  visibility: visible;
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--button {
  padding: 8px 24px;
  font-size: 14px;
  font-weight: bolder;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: rgb(66, 66, 66);
}
@media (max-width: 620px) {
  .add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--button {
    position: absolute;
    bottom: 28px;
    right: 28px;
  }
}
.add-new--container .add-new__wrapper .add-new--edit__wrapper .edit--button:hover {
  background-color: rgba(77, 77, 77, 0.032);
}
.add-new--container .add-new__wrapper.active {
  height: fit-content;
  box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.171);
}
.add-new--container .add-new__wrapper.active .add-new--image__wrapper {
  display: flex;
}
.add-new--container .add-new__wrapper.active .add-new--title__wrapper {
  display: flex;
}
.add-new--container .add-new__wrapper.active .add-new--text__wrapper {
  height: fit-content;
}
.add-new--container .add-new__wrapper.active .add-new--text__wrapper .text--input {
  height: fit-content;
  font-size: 14px;
}
.add-new--container .add-new__wrapper.active .add-new--text__wrapper .text--input[contenteditable]:empty::before {
  font-weight: bolder;
}
.add-new--container .add-new__wrapper.active .add-new--text__wrapper .text--icon__wrapper {
  display: none;
}
.add-new--container .add-new__wrapper.active .text--icon__wrapper {
  display: none;
}
.add-new--container .add-new__wrapper.active .add-new--edit__wrapper {
  display: flex;
}

.notes__wrapper {
  display: flex;
  position: absolute;
  width: calc(100% - 32px);
  margin-left: 32px;
  margin-top: 52px;
}
.notes__wrapper .notes--list {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: grid;
  gap: 8px;
  grid-template-columns: 240px 240px 240px 240px 240px 240px 240px;
}
@media (max-width: 1820px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px 240px 240px 240px;
  }
}
@media (max-width: 1570px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px 240px 240px;
  }
}
@media (max-width: 1320px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px 240px;
  }
}
@media (max-width: 1080px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px 240px;
  }
}
@media (max-width: 830px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 240px 240px;
  }
}
@media (max-width: 580px) {
  .notes__wrapper .notes--list {
    grid-template-columns: 100%;
  }
}
.notes__wrapper .notes--list .note {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: fit-content;
  border: 2px solid rgba(65, 65, 65, 0.086);
  border-radius: 8px;
  margin: 4px;
  transition: 0.2s ease;
  position: relative;
}
.notes__wrapper .notes--list .note .note--img__wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.notes__wrapper .notes--list .note .note--title {
  padding: 16px;
  font-size: 18px;
  color: black;
}
.notes__wrapper .notes--list .note .note--text {
  padding: 12px 16px 16px 16px;
  font-size: 18px;
  color: rgb(66, 66, 66);
}
.notes__wrapper .notes--list .note .note--check-icon__wrapper .material-symbols-outlined {
  position: absolute;
  top: -12px;
  left: -12px;
  opacity: 0;
  cursor: pointer;
}
.notes__wrapper .notes--list .note .note--check-icon__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  position: absolute;
  top: 10px;
  left: -50px;
}
.notes__wrapper .notes--list .note .note--check-icon__wrapper:hover .tooltip--text {
  visibility: visible;
}
.notes__wrapper .notes--list .note .note--pin-icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 4px;
  right: 12px;
  opacity: 0;
  cursor: pointer;
}
.notes__wrapper .notes--list .note .note--pin-icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
}
.notes__wrapper .notes--list .note .note--pin-icon__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
  position: absolute;
  top: 34px;
  right: -34px;
}
.notes__wrapper .notes--list .note .note--pin-icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.notes__wrapper .notes--list .note .note--pin-icon__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.notes__wrapper .notes--list .note .note--pin-icon__wrapper:hover .tooltip--text {
  visibility: visible;
}
.notes__wrapper .notes--list .note .note--icons-list__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 4px;
}
.notes__wrapper .notes--list .note .note--icons-list__wrapper .note--icons__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  opacity: 0;
}
.notes__wrapper .notes--list .note .note--icons-list__wrapper .note--icons__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
}
.notes__wrapper .notes--list .note .note--icons-list__wrapper .note--icons__wrapper .tooltip--text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.628);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: 34px;
}
.notes__wrapper .notes--list .note .note--icons-list__wrapper .note--icons__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.notes__wrapper .notes--list .note .note--icons-list__wrapper .note--icons__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.notes__wrapper .notes--list .note .note--icons-list__wrapper .note--icons__wrapper:hover .tooltip--text {
  visibility: visible;
}
.notes__wrapper .notes--list .note:hover {
  box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.171);
}
.notes__wrapper .notes--list .note:hover .note--check-icon__wrapper .material-symbols-outlined {
  opacity: 1;
}
.notes__wrapper .notes--list .note:hover .note--icons-list__wrapper .note--icons__wrapper {
  opacity: 1;
}
.notes__wrapper .notes--list .note:hover .note--pin-icon__wrapper {
  opacity: 1;
}

.account--login__wrapper {
  align-items: center;
  flex-direction: column;
  width: 410px;
  height: fit-content;
  position: absolute;
  top: 60px;
  right: 12px;
  background-color: rgb(238, 242, 245);
  border-radius: 24px;
  box-shadow: 1px 1px 6px 0px rgba(38, 38, 38, 0.495);
  padding: 18px 12px;
  display: none;
}
@media (max-width: 530px) {
  .account--login__wrapper {
    width: 100vw;
    height: 100vh;
    top: 0px;
    right: 0px;
    border-radius: 0px;
  }
}
.account--login__wrapper .login--email__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.account--login__wrapper .login--email__wrapper .email--email {
  font-size: 14px;
  font-weight: bolder;
}
.account--login__wrapper .login--email__wrapper .email--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -12px;
  right: -4px;
}
.account--login__wrapper .login--email__wrapper .email--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  padding: 15px;
  font-size: 24px;
}
@media (max-width: 430px) {
  .account--login__wrapper .login--email__wrapper .email--icon__wrapper .material-symbols-outlined {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
  }
}
.account--login__wrapper .login--email__wrapper .email--icon__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.account--login__wrapper .login--email__wrapper .email--icon__wrapper:hover .material-symbols-outlined {
  opacity: 1;
  transition: ease-in 0.15s;
}
.account--login__wrapper .login--account-edit__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 24px;
}
.account--login__wrapper .login--account-edit__wrapper .account-edit--photo__wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 84px;
  height: 84px;
  border: 2px solid rgba(65, 65, 65, 0.086);
  border-radius: 42px;
  position: relative;
}
.account--login__wrapper .login--account-edit__wrapper .account-edit--photo__wrapper .account-edit--photo {
  object-fit: cover;
  border-radius: 42px;
}
.account--login__wrapper .login--account-edit__wrapper .account-edit--photo__wrapper .account-edit--icon__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  bottom: -2px;
  right: 0px;
}
.account--login__wrapper .login--account-edit__wrapper .account-edit--photo__wrapper .account-edit--icon__wrapper .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: ease-in 0.2s;
  width: 34px;
  height: 34px;
  padding: 7px;
  font-size: 18px;
}
.account--login__wrapper .login--account-edit__wrapper .account-edit--welcome {
  width: 100%;
  height: fit-content;
  margin-top: 12px;
  font-size: 21px;
  text-align: center;
}
.account--login__wrapper .login--account-edit__wrapper .account-edit--button {
  width: 55%;
  padding: 10px 0px;
  border: 2px solid rgba(65, 65, 65, 0.086);
  background-color: transparent;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bolder;
  color: #5664ff;
  margin: 12px 0px;
  cursor: pointer;
}
.account--login__wrapper .login--account-edit__wrapper .account-edit--button:hover {
  background-color: rgba(109, 160, 255, 0.128);
}
.account--login__wrapper .login--other-accounts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button:first-of-type {
  border-radius: 32px 32px 6px 6px;
  justify-content: space-between;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button:last-of-type {
  border-radius: 6px 6px 32px 32px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 1px 0px;
  padding: 0px 24px;
  border: none;
  background-color: rgb(252, 252, 252);
  cursor: pointer;
  border-radius: 6px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--hide__text {
  font-size: 14px;
  font-weight: bolder;
  padding: 4px 0px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--hide__icon {
  background-color: rgba(65, 65, 65, 0.086);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--photo__wrapper {
  width: 38px;
  height: 38px;
  border: 2px solid rgba(65, 65, 65, 0.086);
  border-radius: 24px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  justify-content: start;
  margin-left: 16px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--text__wrapper .button--text--title {
  font-size: 14px;
  font-weight: bolder;
  padding: 4px 0px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--text__wrapper .button--text--email {
  font-size: 12px;
  padding: 4px 0px;
  color: rgb(66, 66, 66);
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--add__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: aliceblue;
  border-radius: 12px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--add__icon .material-symbols-outlined {
  color: #5664ff;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--add__text {
  margin-left: 16px;
  font-size: 14px;
  font-weight: bolder;
  padding: 4px 0px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--log-out__icon .material-symbols-outlined {
  color: rgb(70, 70, 70);
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button .button--log-out__text {
  margin-left: 16px;
  font-size: 14px;
  font-weight: bolder;
  padding: 4px 0px;
}
.account--login__wrapper .login--other-accounts__wrapper .other-accounts--button:hover {
  background-color: rgba(153, 153, 153, 0.143);
}
.account--login__wrapper .login--policies__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.account--login__wrapper .login--policies__wrapper .policies--link__wrapper {
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
}
.account--login__wrapper .login--policies__wrapper .policies--link__wrapper .policies--link {
  font-size: 12px;
  color: rgb(95, 95, 95);
}
.account--login__wrapper .login--policies__wrapper .policies--link__wrapper:hover {
  background-color: rgba(65, 65, 65, 0.086);
}
.account--login__wrapper .login--policies__wrapper .policies--dot {
  margin: 0px 10px;
}

.account--login__wrapper.active {
  display: flex;
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
body .main--container {
  display: flex;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=index.css.map */
