.aside {
  display: flex;
  flex-direction: column;
  padding: 6px;
  width: 60px;
  transition: ease-in 0.2s;
  .aside--item__wrapper {
    display: flex;
    align-items: center;
    .aside--icon__wrapper {
      @include icons-wrapper;
      .aside--icon {
        @include icons;
      }
      .aside--icon:hover {
        @include icons--hover;
      }
    }
    .aside--icon__wrapper:hover {
        @include icons-wrapper--hover;
    }
  }
  .aside--item__text {
    font: bold 13px "Product Sans", Arial, sans-serif;
    padding-left: 24px;
    color: rgb(69, 69, 69);
    display: none;
    transition: ease-in 0.2s;
  }
}
.aside:hover {
  width: 280px;
  height: 100vh;
  box-shadow: 5px 5px 10px #808080c4;
  transition: ease-in 0.2s;

  .aside--item__wrapper {
    width: 100%;
    .aside--icon__wrapper {
      .aside--icon {
      }
    }
  }
  .aside--item__wrapper:hover {
    background-color: $light-blue-grey;
    border-radius: 24px;
  }
  .aside--item__text {
    display: flex;
  }
}
