.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid $light-blue-grey;
  padding: 6px;
  .navbar--menu {
    @include big-icons-wrapper;
    margin-left: 6px;
    .material-symbols-outlined {
      @include big-icons;
    }
    .material-symbols-outlined:hover {
      @include icons--hover;
    }
  }
  .navbar--menu:hover {
    @include icons-wrapper--hover;
  }
  .navbar--logo {
    display: flex;
    align-items: center;
    margin: 0px 90px 0px 4px;
    .navbar--logo__img {
      width: 40px;
      height: auto;
      cursor: pointer;
    }
    .navbar--logo__title {
      font: 400 $font-size--big "Product Sans", Arial, sans-serif;
      color: rgb(97, 97, 97);
      padding-left: 7px;
      cursor: pointer;
    }
  }
  @media (max-width: 790px) {
    .navbar--logo {
      margin: 0px;
    }
  }
  .navbar--search {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex: 1 1 auto;

    .navbar--search__wrapper {
      display: flex;
      align-items: center;
      max-width: 720px;
      height: 48px;
      background-color: rgb(242, 243, 245);
      border-radius: $border-radius--big;
      width: 100%;
      .search--icon__wrapper {
        @include medium-icons-wrapper;
        margin-left: 8px;
        .material-symbols-outlined {
          @include medium-icons;
        }
        .material-symbols-outlined:hover {
          @include icons--hover;
        }
        @media (max-width: 790px) {
          .material-symbols-outlined {
            justify-content: flex-end;
          }
        }
      }
      .search--icon__wrapper:hover {
        @include icons-wrapper--hover;
      }
      .navbar--search__input {
        width: 100%;
        padding: 6px;
        border: none;
        background-color: rgb(242, 243, 245);
        font-size: 16px;
        color: rgb(119, 119, 119);
      }
      .navbar--search__input:focus {
        outline: none;
      }
      @media (max-width: 790px) {
        .navbar--search__input {
          display: none;
        }
      }
    }
    @media (max-width: 790px) {
        .navbar--search__wrapper {
          background-color: transparent;
          justify-content: end
        }
      }
    .search--icon-cross__wrapper {
      @include big-icons-wrapper;
      display: none;
      .search--icon-cross {
        @include big-icons;
        display: none;
      }
      .search--icon-cross:hover {
        @include icons--hover;
      }
    }
    .search--icon-cross__wrapper:hover {
      @include icons-wrapper--hover;
    }
    .navbar--icon-list {
      display: flex;
      align-items: center;
      margin-left: 12px;
      .icon-list--icon__wrapper {
        @include big-icons-wrapper;
        .material-symbols-outlined {
          @include big-icons;
        }
        .material-symbols-outlined:hover {
          @include icons--hover;
        }
      }
      .icon-list--icon__wrapper:hover {
        @include icons-wrapper--hover;
      }
      @media (max-width: 580px) {
        .icon-list--icon__wrapper:nth-child(even) {
          display: none;
        }
      }
    }
    @media (max-width: 790px) {
        .navbar--icon-list {
          margin-left: 0px;
        }
      }
  }

  .navbar--account {
    display: flex;
    margin-left: 20px;
    .account--icon__wrapper {
      @include medium-icons-wrapper;
      margin: 6px;
      .material-symbols-outlined {
        @include medium-icons;
      }
      .material-symbols-outlined:hover {
        @include icons--hover;
      }
      .account--bg {
        @include small-icons;
        background-color: rgb(101, 0, 253);
        border-radius: $border-radius--circle;
        .account--letter {
          color: white;
          font: 400 16px "Product Sans", Arial, sans-serif;
        }
      }
    }
    .account--icon__wrapper:hover {
      background-color: $light-blue-grey;
      border-radius: $border-radius--circle;
    }
    @media (max-width: 1020px) {
      margin-left: 0px;
    }
  }
}
