.notes__wrapper {
    display: flex;
    position: absolute;
    width: calc(100% - 92px);
    margin-left: 92px;
    margin-top: 52px;
  .notes--list {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    gap: 8px;
    grid-template-columns: 240px 240px 240px 240px 240px 240px 240px;

    @media (max-width: 1820px) {
        grid-template-columns: 240px 240px 240px 240px 240px 240px;
    }
    @media (max-width: 1570px) {
        grid-template-columns: 240px 240px 240px 240px 240px;
    }
    @media (max-width: 1320px) {
        grid-template-columns: 240px 240px 240px 240px;
    }
    @media (max-width: 1080px) {
        grid-template-columns: 240px 240px 240px;
    }
    @media (max-width: 830px) {
        grid-template-columns: 240px 240px;
    }
    @media (max-width: 580px) {
        grid-template-columns: 100%;
    }

    .note {
      display: flex;
      flex-direction: column;
      width: 240px;
      height: fit-content;
      padding-top: 16px;
      border: 1px solid $light-blue-grey;
      border-radius: $border-radius--big;
      margin: 4px;
      transition: 0.2s ease;
      .note--title {
        padding: 0px 16px;
        font-size: $font-size--medium;
        color: black;
      }
      .note--text {
        padding: 12px 16px 61px 16px;
        font-size: 19px;
        color: rgb(59, 59, 59);
      }
    }
    .note:hover {
        box-shadow: 1px 1px 6px 0px rgba(72, 72, 72, 0.398);
    }
  }
}
