@mixin small-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    padding: 7px;
    opacity: 0.65;
    transition: ease-in 0.2s;
}

@mixin medium-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0.65;
    transition: ease-in 0.2s;
}

@mixin big-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 15px;
    opacity: 0.65;
    transition: ease-in 0.2s;
}

@mixin icons--hover {
    opacity: 1;
    transition: ease-in 0.15s;
}

@mixin small-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@mixin medium-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@mixin big-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@mixin icons-wrapper--hover {
    background-color: $light-blue-grey;
    border-radius: $border-radius--circle;
}